// Body Font-Family
$body_font: 'Open Sans', sans-serif;
$heading_font: 'Josefin Sans', sans-serif;

$black:900;
$extra_bold:800;
$bold:700;
$semi_bold:600;
$medium:500;
$regular:400;
$light:300;