<!--Main Slider-->
<section class="main-slider">
  <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
    <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
      <ul>
        <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1000"
          data-fsslotamount="12" data-fstransition="3dcurtain-vertical" data-hideafterloop="0" data-hideslideonmobile="off"
          data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3=""
          data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0"
          data-saveperformance="off" data-slotamount="default" data-thumb="img/hero/bg.png" data-title="Slide Title"
          data-transition="3dcurtain-vertical">
          <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat"
            data-bgparallax="off" data-no-retina="" src="assets/img/hero/bg.png">
          <div class="tp-caption tp-resizeme rs-parallaxlevel-1" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="image"
            data-height="none" data-width="['357','850','750','600']" data-whitespace="normal" data-hoffset="['324','-675','-580','-475']"
            data-voffset="['334','70','110','30']" data-x="['center','center','center','center']" data-y="['top','top','top','top']"
            data-textalign="['bottom','bottom','bottom','bottom']" data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"1000","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="slide-image-3"><img src="assets/img/hero/3.png" alt=" /"></div>
          </div>
          <div class="tp-caption tp-resizeme rs-parallaxlevel-1" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="image"
            data-height="none" data-width="['199','199','750','600']" data-whitespace="normal" data-hoffset="['100','-215','-95','-75']"
            data-voffset="['468','468','468','70']" data-x="['center','right','right','right']" data-y="['top','top','top','top']"
            data-textalign="['top','top','top','top']" data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="slide-image-1"><img src="assets/img/hero/1.png" alt=" /"></div>
          </div>
          <div class="tp-caption tp-resizeme rs-parallaxlevel-1" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="image"
            data-height="none" data-width="['123','123','750','600']" data-whitespace="normal" data-hoffset="['145','-505','-405','-475']"
            data-voffset="['350','210','170','100']" data-x="['center','center','center','center']" data-y="['top','top','top','top']"
            data-textalign="['top','top','top','top']" data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="slide-image-2"><img src="assets/img/hero/2.png" alt=" /"></div>
          </div>
          <div class="tp-caption tp-resizeme rs-parallaxlevel-1" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="image"
            data-height="none" data-width="['229','229','750','600']" data-whitespace="normal" data-hoffset="['-15','-800','-795','-690']"
            data-voffset="['490','155','100','70']" data-x="['right','right','right','right']" data-y="['top','top','top','top']"
            data-textalign="['bottom','bottom','bottom','bottom']" data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="slide-image-4"><img src="assets/img/hero/4.png" alt=" /"></div>
          </div>
          <div class="tp-caption tp-resizeme rs-parallaxlevel-1" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="image"
            data-height="none" data-width="['92','92','850','600']" data-whitespace="normal" data-hoffset="['270','-600','-605','-550']"
            data-voffset="['705','225','180','140']" data-x="['right','right','right','right']" data-y="['top','top','top','top']"
            data-textalign="['bottom','bottom','bottom','bottom']" data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="slide-image-5"><img src="assets/img/hero/5.png" alt=" /"></div>
          </div>
          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['500','500','500','500']"
            data-whitespace="normal" data-hoffset="['15','30','30','25']" data-voffset="['-53','-73','-73','-60']"
            data-x="['left','left','left','left']" data-y="center" data-textAlign="['inherit','inherit','inherit','inherit']"
            data-frames='[{"delay":1000,"split":"chars","splitdelay":0.1,"speed":3000,"split_direction":"forward","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'>
            <h1>We are Ready for Digital Marketing </h1>
          </div>
          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['500','500','500','500']"
            data-whitespace="normal" data-hoffset="['15',30,'30','25']" data-voffset="['55','55','55','55']" data-x="['left','left','left','left']"
            data-y="center" data-textAlign="['inherit','inherit','inherit','inherit']" data-frames='[{"delay":2500,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
            <div class="text">Aliquet lobortis ac commodo eu tincidunt lectuere urna inceptos.</div>
          </div>
          <div class="tp-caption tp-resizeme" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text"
            data-height="none" data-width="['750','650','550','600']" data-whitespace="normal" data-hoffset="['15','30','30','25']"
            data-voffset="['163','163','163','163']" data-x="['left','left','left','left']" data-y="center"
            data-textAlign="['inherit','inherit','inherit','inherit']" data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <a href="#" class="btn intro-btn">Learn More</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--End Main Slider-->
<!-- Start Marketing Area -->
<section class="marketing-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <div class="marketing-content-left">
          <h2>All Kind of Digital Marketing</h2>
          <p>Consequat ac lacus diam lacus, mauris lestinunc vestibulumes. ciosqu orci. Tortor efntum lectros et mi
            enim, elisaen,non et morbi et vestibulum malesuada digital marketing.</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-7">
        <div class="marketing-content-right">
          <div class="marketing-content">
            <span class="flaticon-analytics"></span>
            <h3>Keyword Research</h3>
            <p>Consectetuer vel id vel vaongue vulputate, odio curabiturviver interdum adipiscing sceler</p>
          </div>
          <div class="marketing-content">
            <span class="flaticon-promotion"></span>
            <h3>Social Marketing</h3>
            <p>Consectetuer vel id vel vaongue vulputate, odio curabiturviver interdum adipiscing sceler</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Marketing Area -->
<!-- Start Business Area -->
<section class="business-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="business-img">
          <img src="assets/img/business/1.jpg" alt="img">
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="business-content">
          <h2>We are a global business solutions provider</h2>
          <h5>Nam nullam nonummy facilisi senectus tortor consequat, in eu duis et pede nunc eget, et sed,</h5>
          <p>Consequat ac lacus diam lacus, mauris molestie nunc vestibulum maenas. Sociosqu orci. Tortor eu
            fermentum lectus eros, et mi enim, elit saen,non et morbi et vestibulum malesuada.</p>
        </div>
        <div class="business-info">
          <div class="business-info-single">
            <input type="text" class="dial" value="70" data-fgColor="#ef56bb" data-bgColor="#f8b9e3" data-width="120"
              data-height="120" data-lineCap="butt" data-thickness=".06" data-displayPrevious="true" data-inputColor="#29292e"
              data-readonly="true">
            <h4>Marketing</h4>
          </div>
          <div class="business-info-single">
            <input type="text" class="dial" value="60" data-fgColor="#fbc820" data-bgColor="#f9e296" data-width="120"
              data-height="120" data-lineCap="butt" data-thickness=".06" data-displayPrevious="true" data-inputColor="#29292e"
              data-readonly="true">
            <h4>Data Analysis</h4>
          </div>
          <div class="business-info-single">
            <input type="text" class="dial" value="86" data-fgColor="#4ef491" data-bgColor="#b4fed2" data-width="120"
              data-height="120" data-lineCap="butt" data-thickness=".06" data-displayPrevious="true" data-inputColor="#29292e"
              data-readonly="true">
            <h4>Keyword</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Business Area -->
<!-- Start Video Area -->
<section class="video-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="video-info">
          <h2>Build your website in here for good sale</h2>
          <div class="video-btn">
            <a href="#0" class="cd-popup-trigger hvr-wobble-horizontal">
              <i class="fas fa-play"></i>
            </a>
            <div class="cd-popup" role="alert">
              <div class="cd-popup-container">
                <div class="video-container">
                  <iframe width="650" height="350" src="assets/https://www.youtube.com/embed/0IMdXuuIrCQ"
                    allowfullscreen></iframe>
                </div>
                <a href="#0" class="cd-popup-close">x</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Video Area -->
<!-- Start Download Area -->
<section class="download-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="download-content">
          <h2>Download your apps to be more fast</h2>
          <h5>Nam nullam nonummy facilisi senectus tortor consequat, in eu duis et pede nunc eget, et sed.</h5>
          <p>Consequat ac lacus diam lacus, mauris molestie nunc vestibulum maenas. Sociosqu orci. Tortor eu
            fermentum lectus eros, et mi enim, elit saen,non et morbi et vestibulum malesuada.</p>
        </div>
        <div class="download-btn">
          <a class="btn" href="#"><i class="fas fa-cloud-download-alt"></i> App Store</a>
          <a class="btn" href="#"><i class="fas fa-cloud-download-alt"></i> Google Play</a>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="download-image">
          <img src="assets/img/download/1.png" alt="Download">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Download Area -->
<!-- Start Services Area -->
<section class="services-area section-padding">
  <div class="shape-1">
    <img src="assets/img/service/8.png" alt="img">
  </div>
  <div class="shape-2">
    <img src="assets/img/service/9.png" alt="img">
  </div>
  <div class="shape-3">
    <img src="assets/img/service/10.png" alt="img">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="services-title">
          <h4>Get Your Services</h4>
          <h2>Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="services-block">
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/2.png" alt="Service">
            </div>
            <h3>Web Development</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/3.png" alt="Service">
            </div>
            <h3>Digital Marketing</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/4.png" alt="Service">
            </div>
            <h3>Cloud Development</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/5.png" alt="Service">
            </div>
            <h3>Data &amp; Analytic</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/6.png" alt="Service">
            </div>
            <h3>Content Writing</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/7.png" alt="Service">
            </div>
            <h3>Social Marketing</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Area -->
<!-- Start Feedback Area -->
<section class="feedback-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feedback-block">
          <!-- Single Slider -->
          <div class="feedback-slide">
            <div class="feedback-mask">
              <div class="feedback-mask-image">
                <img src="assets/img/feedback/1.jpg" alt="Feedback">
              </div>
            </div>
            <div class="feedback-content">
              <p>Tellus feugiat vitae natoque, imperdiet consequat wisidictum ac pede magna porttitor vel, a risus
                viverra risus et. morbi. Lacus vitae, vel ligula vestibulum sed, volutpat non sit. quam rutrum et dui
                mi sed.</p>
              <h3>Robert Schulist</h3>
              <span>Civil Engineer</span>
            </div>
          </div>
          <!-- Single Slider -->
          <div class="feedback-slide">
            <div class="feedback-mask">
              <div class="feedback-mask-image">
                <img src="assets/img/feedback/2.jpg" alt="Feedback">
              </div>
            </div>
            <div class="feedback-content">
              <p>Tellus feugiat vitae natoque, imperdiet consequat wisidictum ac pede magna porttitor vel, a risus
                viverra risus et. morbi. Lacus vitae, vel ligula vestibulum sed, volutpat non sit. quam rutrum et dui
                mi sed.</p>
              <h3>Henry Andryl</h3>
              <span>Web Developer</span>
            </div>
          </div>
          <!-- Single Slider -->
          <div class="feedback-slide">
            <div class="feedback-mask">
              <div class="feedback-mask-image">
                <img src="assets/img/feedback/3.jpg" alt="Feedback">
              </div>
            </div>
            <div class="feedback-content">
              <p>Tellus feugiat vitae natoque, imperdiet consequat wisidictum ac pede magna porttitor vel, a risus
                viverra risus et. morbi. Lacus vitae, vel ligula vestibulum sed, volutpat non sit. quam rutrum et dui
                mi sed.</p>
              <h3>Mark Jelon</h3>
              <span>Creative Manager</span>
            </div>
          </div>
          <!-- Single Slider -->
          <div class="feedback-slide">
            <div class="feedback-mask">
              <div class="feedback-mask-image">
                <img src="assets/img/feedback/4.jpg" alt="Feedback">
              </div>
            </div>
            <div class="feedback-content">
              <p>Tellus feugiat vitae natoque, imperdiet consequat wisidictum ac pede magna porttitor vel, a risus
                viverra risus et. morbi. Lacus vitae, vel ligula vestibulum sed, volutpat non sit. quam rutrum et dui
                mi sed.</p>
              <h3>Mark Jelon</h3>
              <span>Creative Manager</span>
            </div>
          </div>
        </div>
        <div id="feedback-slider-pager" class="pager-block">
          <a href="#" class="pager-item" data-slide-index="0"><img src="assets/img/feedback/5.jpg" alt="Feedback"></a>
          <a href="#" class="pager-item" data-slide-index="1"><img src="assets/img/feedback/6.jpg" alt="Feedback"></a>
          <a href="#" class="pager-item active" data-slide-index="2"><img src="assets/img/feedback/7.jpg" alt="Feedback"></a>
          <a href="#" class="pager-item active" data-slide-index="3"><img src="assets/img/feedback/8.jpg" alt="Feedback"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feedback Area -->
<!-- Start Latest Project Area -->
<section class="project-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="project-title">
          <h4>Awesome Work</h4>
          <h2>Our Latest Project</h2>
          <h5><a href="#">See All Project</a></h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project">
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/1.jpg">
              <img src="assets/img/project/1.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/2.jpg">
              <img src="assets/img/project/2.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/3.jpg">
              <img src="assets/img/project/3.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/4.jpg">
              <img src="assets/img/project/4.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/5.jpg">
              <img src="assets/img/project/5.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/6.jpg">
              <img src="assets/img/project/6.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/7.jpg">
              <img src="assets/img/project/7.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Latest Project Area -->
<!-- Start Pricing Area -->
<section class="pricing-area">
  <div class="pricing-area-bg">
    <img src="assets/img/pricing/2.jpg" alt="img">
  </div>
  <div class="pricing-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pricing-title">
            <h4>Pricing Plan</h4>
            <h2>Choose Which Package is Best Suited for You</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="pricing-box-area">
            <div class="pricing-box">
              <div class="pricing-single">
                <h2>$254</h2>
                <span>Monthly</span>
                <h3>Personal</h3>
                <ul class="price-list list-style">
                  <li>Normal server power</li>
                  <li>Unlimited montly traffic</li>
                  <li>Cloud technology</li>
                  <li>Unlimited disic space</li>
                </ul>
                <a class="btn hvr-wobble-horizontal" href="#">Buy Now</a>
              </div>
            </div>
            <div class="pricing-box">
              <div class="pricing-single">
                <h2>$387</h2>
                <span>Monthly</span>
                <h3>Silver</h3>
                <ul class="price-list list-style">
                  <li>Normal server power</li>
                  <li>Unlimited montly traffic</li>
                  <li>Cloud technology</li>
                  <li>Unlimited disic space</li>
                </ul>
                <a class="btn hvr-wobble-horizontal" href="#">Buy Now</a>
              </div>
            </div>
            <div class="pricing-box">
              <div class="pricing-single">
                <h2>$525</h2>
                <span>Yearly</span>
                <h3>Gold</h3>
                <ul class="price-list list-style">
                  <li>Normal server power</li>
                  <li>Unlimited montly traffic</li>
                  <li>Cloud technology</li>
                  <li>Unlimited disic space</li>
                </ul>
                <a class="btn hvr-wobble-horizontal" href="#">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Area -->
<!-- Start FAQ Area -->
<section class="faq-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="faq-title">
          <h2>Some common question about us</h2>
        </div>
        <div class="faq-info">
          <!-- Single FAQ -->
          <div class="faq-single">
            <div class="faq-number">
              <span>01</span>
            </div>
            <div class="faq-content">
              <h4>How can i submit info form?</h4>
              <p>Lorem ipsum dolor sit amet, erat fringilla vel cupitate nec egestasprat nulla curabitur et. Inceptos
                hac posuere, amet auctor vitaenim lacus occaecatmet commodo sem ante elit.</p>
            </div>
          </div>
          <!-- Single FAQ -->
          <div class="faq-single">
            <div class="faq-number">
              <span>02</span>
            </div>
            <div class="faq-content">
              <h4>Where we are provided our services?</h4>
              <p>Lorem ipsum dolor sit amet, erat fringilla vel cupitate nec egestasprat nulla curabitur et. Inceptos
                hac posuere, amet auctor vitaenim lacus occaecatmet commodo sem ante elit.</p>
            </div>
          </div>
          <!-- Single FAQ -->
          <div class="faq-single">
            <div class="faq-number">
              <span>03</span>
            </div>
            <div class="faq-content">
              <h4>What is the benefit from our services?</h4>
              <p>Lorem ipsum dolor sit amet, erat fringilla vel cupitate nec egestasprat nulla curabitur et. Inceptos
                hac posuere, amet auctor vitaenim lacus occaecatmet commodo sem ante elit.</p>
            </div>
          </div>
          <!-- Single FAQ -->
          <div class="faq-single">
            <div class="faq-number">
              <span>04</span>
            </div>
            <div class="faq-content">
              <h4>How can i get info aobut hyna?</h4>
              <p>Lorem ipsum dolor sit amet, erat fringilla vel cupitate nec egestasprat nulla curabitur et. Inceptos
                hac posuere, amet auctor vitaenim lacus occaecatmet commodo sem ante elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End FAQ Area -->
<!-- Start Counter Area -->
<section class="counter-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="counter-content">
          <div class="counter-block">
            <div class="counter-content-single">
              <h2><span class="timer" data-from="1" data-to="450" data-speed="5000" data-refresh-interval="50">450</span></h2>
              <h4>Project Done</h4>
            </div>
            <div class="counter-content-single">
              <h2><span class="timer" data-from="1" data-to="65" data-speed="5000" data-refresh-interval="50">65</span>
                <span class="small">M</span></h2>
              <h4>Happy Customer</h4>
            </div>
            <div class="counter-content-single">
              <h2><span class="timer" data-from="1" data-to="829" data-speed="5000" data-refresh-interval="50">829</span></h2>
              <h4>Office Branch</h4>
            </div>
            <div class="counter-content-single">
              <h2><span class="timer" data-from="1" data-to="22" data-speed="5000" data-refresh-interval="50">22</span>
                <span class="small">Y</span></h2>
              <h4>Experience</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counter Area -->
<!-- Start Blog Area -->
<section class="blog-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-title">
          <h4>Latest Blog</h4>
          <h2>Our Blog and Tips</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="blog">
          <!-- Single Blog -->
          <div class="single-news">
            <div class="blog-content">
              <h3><a href="#">Stand Up for Democracy in Hong Kong</a></h3>
              <p>Quisque commodo arcu Nitempuaquam, diapien erat blanditiis mauris vestibulum non. Quisque placerat
                sem ante.</p>
              <ul class="blog-meta list-style">
                <li><a href="#"><img src="assets/img/blog/1.jpg" alt="img">Jamel Grant</a></li>
                <li><a href="#">26 April 2019</a></li>
                <li><a href="#"><i class="far fa-comment"></i>12</a></li>
              </ul>
            </div>
          </div>
          <!-- Single Blog -->
          <div class="single-news">
            <div class="blog-content">
              <h3><a href="#">Israel’s Invisible Filipino Work Force</a></h3>
              <p>Quisque commodo arcu Nitempuaquam, diapien erat blanditiis mauris vestibulum non. Quisque placerat
                sem ante.</p>
              <ul class="blog-meta list-style">
                <li><a href="#"><img src="assets/img/blog/2.jpg" alt="img">Jamel Grant</a></li>
                <li><a href="#">26 April 2019</a></li>
                <li><a href="#"><i class="far fa-comment"></i>12</a></li>
              </ul>
            </div>
          </div>
          <!-- Single Blog -->
          <div class="single-news">
            <div class="blog-content">
              <h3><a href="#">Waking Up on an Orangutan Island</a></h3>
              <p>Quisque commodo arcu Nitempuaquam, diapien erat blanditiis mauris vestibulum non. Quisque placerat
                sem ante.</p>
              <ul class="blog-meta list-style">
                <li><a href="#"><img src="assets/img/blog/3.jpg" alt="img">Jamel Grant</a></li>
                <li><a href="#">26 April 2019</a></li>
                <li><a href="#"><i class="far fa-comment"></i>12</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Area -->
<!-- Start Client Logo Area -->
<div class="client-logo-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="client-logo-slider owl-carousel owl-theme">
          <div class="client-logo-single">
            <img src="assets/img/clients/1.png" alt="Logo">
          </div>
          <div class="client-logo-single">
            <img src="assets/img/clients/2.png" alt="Logo">
          </div>
          <div class="client-logo-single">
            <img src="assets/img/clients/3.png" alt="Logo">
          </div>
          <div class="client-logo-single">
            <img src="assets/img/clients/4.png" alt="Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Client Logo Area -->
