<!-- Strat Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content text-center">
          <h2>Blog Post</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->
<!-- Start Blog Post Area -->
<section class="blog-post-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <!-- Single Blog Post -->
        <div class="blog-post">
          <div class="blog-post-single">
            <figure title="License of Bol TV, Pakistani Network Dogged by Scandal">
              <img src="assets/img/blog/7.jpg" alt="Blog Post">
            </figure>
            <ul class="blog-meta list-style">
              <li><a href="#"><img src="assets/img/blog/1.jpg" alt="img">Jamel Grant</a></li>
              <li><a href="#">26 April 2019</a></li>
              <li><a href="#"><i class="far fa-comment"></i>12</a></li>
            </ul>
            <h3><a href="#">License of Bol TV, Pakistani Network Dogged by Scandal</a></h3>
            <p>Sitae eu venenatis id eget ultricies id, iaculis ante volutpat vestibulum, id fringilla vitae fames
              praesent. Sed at suspendisse wisi, pellentesque gravida mauris elit lacus. In ultricies sodales pretium
              pede, quarcmet porttitor ut adipiscing mauris massa nesciunt, integer dis odio.</p>
            <a href="#">Continue Reading</a>
          </div>
        </div>
        <!-- Single Blog Post -->
        <div class="blog-post">
          <div class="blog-post-single">
            <figure title="Launching New Product Category Discussion at Meeting">
              <img src="assets/img/blog/8.jpg" alt="Blog Post">
            </figure>
            <ul class="blog-meta list-style">
              <li><a href="#"><img src="assets/img/blog/2.jpg" alt="img">Alex John</a></li>
              <li><a href="#">16 April 2019</a></li>
              <li><a href="#"><i class="far fa-comment"></i>15</a></li>
            </ul>
            <h3><a href="#">Launching New Product Category Discussion at Meeting</a></h3>
            <p>Sitae eu venenatis id eget ultricies id, iaculis ante volutpat vestibulum, id fringilla vitae fames
              praesent. Sed at suspendisse wisi, pellentesque gravida mauris elit lacus. In ultricies sodales pretium
              pede, quarcmet porttitor ut adipiscing mauris massa nesciunt, integer dis odio.</p>
            <a href="#">Continue Reading</a>
          </div>
        </div>
        <!-- Single Blog Post -->
        <div class="blog-post">
          <div class="blog-post-single">
            <figure title="New Product Launching Presentation at Meeting">
              <img src="assets/img/blog/9.jpg" alt="Blog Post">
            </figure>
            <ul class="blog-meta list-style">
              <li><a href="#"><img src="assets/img/blog/3.jpg" alt="img">Allien Jolly</a></li>
              <li><a href="#">26 March 2019</a></li>
              <li><a href="#"><i class="far fa-comment"></i>22</a></li>
            </ul>
            <h3><a href="#">New Product Launching Presentation at Meeting</a></h3>
            <p>Sitae eu venenatis id eget ultricies id, iaculis ante volutpat vestibulum, id fringilla vitae fames
              praesent. Sed at suspendisse wisi, pellentesque gravida mauris elit lacus. In ultricies sodales pretium
              pede, quarcmet porttitor ut adipiscing mauris massa nesciunt, integer dis odio.</p>
            <a href="#">Continue Reading</a>
          </div>
        </div>
        <!-- Single Blog Post -->
        <div class="blog-post">
          <div class="blog-post-single">
            <figure title="Successful Business Dealing with Gloabal Leading Brand">
              <img src="assets/img/blog/10.jpg" alt="Blog Post">
            </figure>
            <ul class="blog-meta list-style">
              <li><a href="#"><img src="assets/img/blog/1.jpg" alt="img">Jamel Grant</a></li>
              <li><a href="#">30 April 2019</a></li>
              <li><a href="#"><i class="far fa-comment"></i>19</a></li>
            </ul>
            <h3><a href="#">Successful Business Dealing with Gloabal Leading Brand</a></h3>
            <p>Sitae eu venenatis id eget ultricies id, iaculis ante volutpat vestibulum, id fringilla vitae fames
              praesent. Sed at suspendisse wisi, pellentesque gravida mauris elit lacus. In ultricies sodales pretium
              pede, quarcmet porttitor ut adipiscing mauris massa nesciunt, integer dis odio.</p>
            <a href="#">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="aside-area">
          <div class="aside-content aside-service">
            <h4>All News Post</h4>
            <ul class="aside-list list-style">
              <li><a href="#">Web Develpoment</a></li>
              <li><a href="#">Digital Analytic</a></li>
              <li><a href="#">Content Writing</a></li>
              <li><a href="#">Social Marketing</a></li>
              <li><a href="#">Cloud Development</a></li>
              <li><a href="#">Insurance Business</a></li>
            </ul>
          </div>
          <div class="aside-content aside-post">
            <h4>Recent Post</h4>
            <ul class="news-list list-style">
              <li>
                <img src="assets/img/blog/4.jpg" alt="img">
                <a href="#">China’s Appetite Pushes Fisheries to the Brink</a>
              </li>
              <li>
                <img src="assets/img/blog/5.jpg" alt="img">
                <a href="#">Britain Accuses Lawmak of Visa Frau for newsland</a>
              </li>
              <li>
                <img src="assets/img/blog/6.jpg" alt="img">
                <a href="#">Meet Toronto’s Gavel-Wielding, Puck Shooting Madam Justice</a>
              </li>
            </ul>
          </div>
          <div class="aside-content aside-archive">
            <h4>Archive</h4>
            <ul class="archive-list list-style">
              <li><a href="#">August - 2016</a></li>
              <li><a href="#">September - 2016</a></li>
              <li><a href="#">December - 2016</a></li>
              <li><a href="#">January - 2017</a></li>
              <li><a href="#">November - 2017</a></li>
            </ul>
          </div>
          <div class="aside-content aside-tag">
            <h4>News Tag</h4>
            <ul class="tags-list list-style">
              <li><a href="#">Marketing</a></li>
              <li><a href="#">SEO</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Analysis</a></li>
              <li><a href="#">Research</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Post Area -->
