<!-- Strat Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content text-center">
          <h2>Project</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Project</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->
<!-- Start Latest Project Area -->
<section class="project-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="project">
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/1.jpg">
              <img src="assets/img/project/1.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/2.jpg">
              <img src="assets/img/project/2.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/3.jpg">
              <img src="assets/img/project/3.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/4.jpg">
              <img src="assets/img/project/4.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/5.jpg">
              <img src="assets/img/project/5.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/6.jpg">
              <img src="assets/img/project/6.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
          <div class="project-item">
            <a class="venobox vbox-item" data-gall="myGallery" data-title="Project" href="img/project/7.jpg">
              <img src="assets/img/project/7.jpg" alt="Project">
            </a>
            <div class="project-item-hover">
              <h4><a href="#">Business Planning</a></h4>
              <span>Research, Marketing</span>
            </div>
          </div>
        </div>
        <!-- Start Next Page Button -->
        <div class="next-page">
          <a class="btn" href="#">Next Page</a>
        </div>
        <!-- End Next Page Button -->
      </div>
    </div>
  </div>
</section>
<!-- End Latest Project Area -->
