<!-- Start Footer Area -->
<footer class="footer-area">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-4">
          <div class="footer-info">
            <div class="footer-logo">
              <a href="index.html">
                <img src="assets/img/logo/logo.png" alt="Logo">
              </a>
            </div>
            <p>Semper integer, fringilla don quisquveac cras a eros nunc. Enim ipsum dictum elit dolor sed facilisi
              eu conubia nulla platea, id sollicitudin. Lobortis massa</p>
            <ul class="social-list list-style">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-skype"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-2">
          <div class="footer-info">
            <h4>Useful Link</h4>
            <ul class="link-list list-style">
              <li><a href="#">About</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <div class="footer-info">
            <h4>Latest News</h4>
            <ul class="news-list list-style">
              <li>
                <img src="assets/img/blog/4.jpg" alt="img">
                <a href="#">China’s Appetite Fisheries to the Brink</a>
              </li>
              <li>
                <img src="assets/img/blog/5.jpg" alt="img">
                <a href="#">Britain Accuses Lawmak of Visa Fraud</a>
              </li>
              <li>
                <img src="assets/img/blog/6.jpg" alt="img">
                <a href="#">Stand Up Democracy in Hong Kong</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <div class="footer-info">
            <h4>Subscribe Now</h4>
            <div class="subscribe-info">
              <p>Lorem ipsum dolor snim, fusce quivitae dapibus etiamger.</p>
              <div class="subscribe-form">
                <!-- <form action="#" [formGroup]="subscribeGroup">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-mail">
                    <div class="input-group-append">
                      <button class="btn-subscribe" type="submit">
                        <span class="flaticon-paper-plane"></span>
                      </button>
                    </div>
                  </div>
                </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-bottom-content">
            <p>Copyright &copy; 2019 Hyna. All rights reserved</p>
            <ul class="footer-menu list-style">
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy &amp; Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->
