<!-- Strat Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content text-center">
          <h2>Page not Found</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">404</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->
<!-- Start Error Area -->
<div class="error-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-content">
          <div class="error-block">
            <img src="assets/img/error/2.png" alt="Error">
          </div>
          <a class="btn" href="index.html">Go to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Error Area -->
