<!-- Strat Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content text-center">
          <h2>License of BoPakistani Network</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->
<!-- Start Blog Post Area -->
<section class="blog-details-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <!-- Single Blog Post -->
        <div class="blog-post">
          <div class="blog-post-single">
            <figure title="License of Bol TV, Pakistani Network Dogged by Scandal Is Revoked">
              <img src="assets/img/blog/7.jpg" alt="Blog Post">
            </figure>
            <ul class="blog-meta list-style">
              <li><a href="#"><img src="assets/img/blog/1.jpg" alt="img">Jamel Grant</a></li>
              <li><a href="#">26 April 2019</a></li>
              <li><a href="#"><i class="far fa-comment"></i>12</a></li>
            </ul>
            <h3>License of Bol TV, Pakistani Network Dogged by Scandal Is Revoked</h3>
            <p>Sitae eu venenatis id eget ultricies id, iaculis ante volutpat vestibulum, id fringilla vitae praesent.
              Sed at suspendisse fames wisi, pellentesque gravida mauris elit lacus. In ultricies pretium pede, dis
              quarcmet porttitor ut adipiscing mauris massa nesciunt, integer sodales odio.Lorem ipsum dolor sit amet,
              massa etiam nunc, elementum auctor elementum sollicitudin cumque velit tortor, volutpat urna amet, augue
              consectetuer ornare. Maecenas pede in curabitur luctus, odio class, sed fusce nec ultricies nullam non.
              Nec id iaculis, lacinia voluptatem non morbi nam nec nam, vestibulum ornare metus suspendisse velit enim,
              nec ante sodales neque magna, pharetra ut sit nonummy.</p>
          </div>
          <div class="blog-img-text">
            <div class="blog-img">
              <img src="assets/img/blog/11.jpg" alt="img">
            </div>
            <div class="blog-text">
              <h4>The Superfood Gold Rush</h4>
              <p>Nulla varius et blandit sed felis vestibulum, feugiat non vultate phasellus enim elit. Libero nulla
                nulla urna diam felis, aliquam dictumst dui aliquam, mi in. Elit justo eget cras nunc velitNlam
                ultrices, porta vitae ultrices, tristique non cursus ornareitudin libero vel consequat.</p>
            </div>
          </div>
          <div class="quote-content">
            <span class="flaticon-left-quotes-sign"></span>
            <p>Turpis vel hendrerit amet, lacinia aliquet venenatis aliquet est maecenas, sodales hymenafabuse encnec
              sed sit, hendrerit commodo non sapien quis tellus, iaculis in enim resque. Velit nec aenean erat mauris
              gravida.</p>
            <h5>Bette Herzog</h5>
          </div>
          <div class="post-bottom-content">
            <p>Accumsan eu voluptate, nec mattis volutpat placerat, imperdiet varius cursus, donec elit molestie, vitae
              inceptos morbi enim in vitae. Ut ligula ante et a mauris id, eget augue ac risus nibh, gravida nec,
              fugiat nunc feugiat tempus, congue ut. Ac tortor pulvinar placerat torquent. Ultrices non in suspendisse
              scipit et. Dolor dui, elit lectus vitae, ut netus arcu nullam nulla, mollis cras, sed amet nunc orci eros
              diam. Dolor consectetuer tincidunt, ipsum volutpat, sed ac maecenas, hendrerit neque pede.</p>
          </div>
          <!-- Start Tag Share Area -->
          <div class="tag-share-area">
            <div class="tag-area">
              <ul class="tag-list list-style">
                <li><a href="#">Marketing</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Research</a></li>
              </ul>
            </div>
            <div class="share-area">
              <h5>Share Post</h5>
              <ul class="social-list list-style">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End Tag Share Area -->
          <!-- Start Prevoius Next Area -->
          <div class="nextprev-area">
            <a href="#">Previous</a>
            <a href="#">Next</a>
          </div>
          <!-- End Prevoius Next Area -->
          <!-- Start Comment Author -->
          <div class="comment-author">
            <div class="comment-details">
              <div class="comment-img">
                <img src="assets/img/blog/12.jpg" alt="Author">
              </div>
              <div class="comment-content">
                <h5><a href="#">Rachelle Barrows</a></h5>
                <span class="name-title"><a href="#">Admin</a></span>
                <p>Consectetuer vel id vel varius congue vulputate, odio curabitur, eget id viverra interdum
                  adipiscing, scelerisque justo quis mauris sem pharetra dui. lestisum augue erat mi amet faucibus.</p>
              </div>
            </div>
          </div>
          <!-- End Comment Author -->
          <!-- Start Comments Area -->
          <div class="comments-area">
            <h3>3 Comments</h3>
            <ul class="comments-list list-style">
              <!-- Single Comment -->
              <li>
                <div class="comment-details">
                  <div class="comment-img">
                    <img src="assets/img/blog/13.jpg" alt="img">
                  </div>
                  <div class="comment-content">
                    <h5><a href="#">Blaze Hagenes</a></h5>
                    <ul class="date-reply list-style">
                      <li><a href="#">24 June 2019</a></li>
                      <li><a href="#">Reply</a></li>
                    </ul>
                    <p>Dapibus eget quam a volutpat tortor, eu sed tristique imperdiet, potenti nunc nisl amet, magna
                      wisi. Reprehenderit donec mus pellentesque donec justo, nullam lacus dolor nunc eu taciti. Sed
                      sit id amet, nam dolor donec.</p>
                  </div>
                </div>
                <!-- Start Comment Reply Area -->
                <ul class="comments-list-reply list-style">
                  <!-- Single Comment -->
                  <li>
                    <div class="comment-details">
                      <div class="comment-img">
                        <img src="assets/img/blog/14.jpg" alt="img">
                      </div>
                      <div class="comment-content">
                        <h5><a href="#">Jolie Pfeffer</a></h5>
                        <ul class="date-reply list-style">
                          <li><a href="#">30 June 2019</a></li>
                          <li><a href="#">Reply</a></li>
                        </ul>
                        <p>Dapibus eget quam a volutpat tortor, eu sed tristique imperdiet, potenti nunc nisl amet,
                          magna wisi. Reprehenderit donec mus pellentesque donec justo, nullam lacus dolor nunc eu
                          taciti.</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- End Comment Reply Area -->
              </li>
              <!-- Single Comment -->
              <li>
                <div class="comment-details">
                  <div class="comment-img">
                    <img src="assets/img/blog/15.jpg" alt="img">
                  </div>
                  <div class="comment-content">
                    <h5><a href="#">Evans Blick</a></h5>
                    <ul class="date-reply list-style">
                      <li><a href="#">15 July 2019</a></li>
                      <li><a href="#">Reply</a></li>
                    </ul>
                    <p>Dapibus eget quam a volutpat tortor, eu sed tristique imperdiet, potenti nunc nisl amet, magna
                      wisi. Reprehenderit donec mus pellentesque donec justo, nullam lacus dolor nunc eu taciti. Sed
                      sit id amet, nam dolor donec.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- End Comments Area -->
          <!-- Start Comment Add Area -->
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="aside-area">
          <div class="aside-content aside-service">
            <h4>All News Post</h4>
            <ul class="aside-list list-style">
              <li><a href="#">Web Develpoment</a></li>
              <li><a href="#">Digital Analytic</a></li>
              <li><a href="#">Content Writing</a></li>
              <li><a href="#">Social Marketing</a></li>
              <li><a href="#">Cloud Development</a></li>
              <li><a href="#">Insurance Business</a></li>
            </ul>
          </div>
          <div class="aside-content aside-post">
            <h4>Recent Post</h4>
            <ul class="news-list list-style">
              <li>
                <img src="assets/img/blog/4.jpg" alt="img">
                <a href="#">China’s Appetite Pushes Fisheries to the Brink</a>
              </li>
              <li>
                <img src="assets/img/blog/5.jpg" alt="img">
                <a href="#">Britain Accuses Lawmak of Visa Frau for newsland</a>
              </li>
              <li>
                <img src="assets/img/blog/6.jpg" alt="img">
                <a href="#">Meet Toronto’s Gavel-Wielding, Puck Shooting Madam Justice</a>
              </li>
            </ul>
          </div>
          <div class="aside-content aside-archive">
            <h4>Archive</h4>
            <ul class="archive-list list-style">
              <li><a href="#">August - 2016</a></li>
              <li><a href="#">September - 2016</a></li>
              <li><a href="#">December - 2016</a></li>
              <li><a href="#">January - 2017</a></li>
              <li><a href="#">November - 2017</a></li>
            </ul>
          </div>
          <div class="aside-content aside-tag">
            <h4>News Tag</h4>
            <ul class="tags-list list-style">
              <li><a href="#">Marketing</a></li>
              <li><a href="#">SEO</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Analysis</a></li>
              <li><a href="#">Research</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Post Area -->
