<!-- Strat Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content text-center">
          <h2>Cloud development for your</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="services.html">Services</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service Details</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->
<!-- Start Service Details Area -->
<section class="service-details-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="service-details-content">
          <img src="assets/img/service/12.jpg" alt="Service">
          <h3>Offering cloud development for your</h3>
          <p>Curabitur tortor erat placerat mi wisi risus, dolor curabitur. At curabitur sit ante elit integer, per
            quetus mi diam, turpis lorem in sed luctus massa. Vestibulum quis laoreet. Per praesent placerat, a
            bibendum eu vitae nec habitant vel, pellentesque nulla euismod dictumst id velit, in enim ut nec ac tellus
            leopede ac, mi euismod, wisi mollis, magna error, sit fusce donec nullam sociosqu. Deleniti erat amet
            sapievlum ipsum ligula, non duis erat tempus ac velit sed, vitae enim maecenas in interdum voluptatem
            dignsim enim ante cum ac, ut nec. Nulla fringilla nec in at nullam, sed eget justo ac imperdiet dui nulla,
            feluris neque mattis duis, at orci nulla.</p>
          <ul class="service-details-list list-style">
            <li>
              <div class="service-details-item">
                <h4>Cloud Assessment Consulting</h4>
                <p>Massa proin nonummy accumsan magnis a et, in eu wisi, id dui. Dolor metus nibh luctus mus velut
                  etiam odio fringilla massa occaecati.</p>
              </div>
            </li>
            <li>
              <div class="service-details-item">
                <h4>Cloud Application Development</h4>
                <p>Massa proin nonummy accumsan magnis a et, in eu wisi, id dui. Dolor metus nibh luctus mus velut
                  etiam odio fringilla massa occaecati.</p>
              </div>
            </li>
            <li>
              <div class="service-details-item">
                <h4>Cloud Application Migration</h4>
                <p>Massa proin nonummy accumsan magnis a et, in eu wisi, id dui. Dolor metus nibh luctus mus velut
                  etiam odio fringilla massa occaecati.</p>
              </div>
            </li>
            <li>
              <div class="service-details-item">
                <h4>Cloud Application Integration</h4>
                <p>Massa proin nonummy accumsan magnis a et, in eu wisi, id dui. Dolor metus nibh luctus mus velut
                  etiam odio fringilla massa occaecati.</p>
              </div>
            </li>
          </ul>
          <div class="services-benefit">
            <h4>Benefit of Services</h4>
            <p>Pellentesque vestibulum vel arcu, neque ipsum eleifend id, cursus ut lorem magna ultrices tellsper. At
              tortor leo nibh arcu vel, condimentum pede phasellus ligula imperdiet, nulla phasellus felis vestilum,
              non et corporis wisi, mauris luctus vitae eu. Rutrum magnis libero vestibulum, nec magna aut, srque
              fringilla in molestie, erat non et. Pellentesque lobortis nonummy elementum leo massa at. Curamna ac
              semper risus malesuada, neque vestibulum lobortis mi adipiscing.</p>
          </div>
          <!-- Start Next Previous Button -->
          <div class="nextprev-area">
            <a href="#">Previous</a>
            <a href="#">Next</a>
          </div>
          <!-- End Next Previous Button -->
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="aside-area">
          <div class="aside-content aside-service">
            <h4>All Services</h4>
            <ul class="aside-list list-style">
              <li><a href="#">Web Develpoment</a></li>
              <li><a href="#">Digital Analytic</a></li>
              <li><a href="#">Content Writing</a></li>
              <li><a href="#">Social Marketing</a></li>
              <li><a href="#">Cloud Development</a></li>
              <li><a href="#">Insurance Business</a></li>
            </ul>
          </div>
          <div class="aside-content">
            <h4>Download File</h4>
            <ul class="aside-list download-list list-style">
              <li>
                <a href="#">Download PDF file<span class="fas fa-download"></span></a>
              </li>
              <li>
                <a href="#">Download DOC file<span class="fas fa-download"></span></a>
              </li>
            </ul>
          </div>
          <div class="call-back">
            <div class="call-back-content">
              <h3>Request a call back</h3>
              <p>Proin feugiat pharetra vivaidmturpis aliquam vero for all service</p>
              <span><a href="tel:7993764681">(799) 376-4681</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service Details Area -->
