<!-- Strat Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content text-center">
          <h2>Our Services</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->
<!-- Start Services Area -->
<section class="services-area section-padding">
  <div class="shape-1">
    <img src="assets/img/service/11.png" alt="img">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="services-block">
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/2.png" alt="Service">
            </div>
            <h3>Web Development</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/3.png" alt="Service">
            </div>
            <h3>Digital Marketing</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/4.png" alt="Service">
            </div>
            <h3>Cloud Development</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/5.png" alt="Service">
            </div>
            <h3>Data &amp; Analytic</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/6.png" alt="Service">
            </div>
            <h3>Content Writing</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
          <!-- Single service Item -->
          <div class="services-item">
            <div class="services-icon">
              <img src="assets/img/service/7.png" alt="Service">
            </div>
            <h3>Social Marketing</h3>
            <p>Mauris viverra eu quis sodalesete amet a erat faucibus null cudolor porttitor ablacus setup.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Area -->
